[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "cp prisma/schema.production.prisma prisma/schema.prisma",
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "cp prisma/schema.production.prisma prisma/schema.prisma && npx prisma migrate deploy && npm run start"
